input {
  width: 260px;
  height: 36px;
  border: 2px solid black;
  border-radius: 4px;
  font-size: 17px;
  padding: 0 4px;
  font-family: "Roboto", sans-serif;
}

label {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;

  div {
    font-family: "Roboto", sans-serif;
    padding-left: 2px;
  }
}
