<div class="modalWrapper" (click)="onModalCancel()">
	<div class="modal" (click)="$event.stopPropagation()">
		<div class="modal--heading">
			<h3>{{modalTitle}}</h3>
			<div class="modal--heading--line"></div>
		</div>
		<div class="modal--content">
			<ng-content></ng-content>
		</div>
		<div class="modal--buttons">
			<app-button [text]="'Cancel'" variant="ghost" (click)="onModalCancel()"></app-button>
			<app-button [text]="'Confirm'" (click)="onModalConfirm()"></app-button>
		</div>
	</div>
</div>
