<div class="flex-full-center h-100 flex-column">
  <h2 class="mb-5">Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit($event)">
    <div class="inputWrapper">
      <app-input formControlName="userName" labelText="Username"></app-input>
      <div class="fieldError" *ngIf="isFieldValidatedCorrectly('userName')">
        <div *ngIf="loginForm.controls['userName'].errors?.['minlength']">
          User name must consists of at least 3 characters
        </div>
        <div *ngIf="loginForm.controls['userName'].errors?.['required']">
          This field is required
        </div>
      </div>
    </div>
    <div class="inputWrapper">
      <app-input
        formControlName="password"
        type="password"
        labelText="Password"
      ></app-input>
      <div class="fieldError" *ngIf="isFieldValidatedCorrectly('password')">
        <div *ngIf="loginForm.controls['password'].errors?.['minlength']">
          Password must consists of at least 6 characters
        </div>
        <div *ngIf="loginForm.controls['password'].errors?.['required']">
          This field is required
        </div>
        <div *ngIf="loginForm.controls['password'].errors?.['pwdMismatch']">
          Passwords do not match
        </div>
      </div>
    </div>
    <div class="flex items-center justify-center">
      <app-button text="Login"></app-button>
    </div>
    <div class="mt-3 flex items-center justify-center">
      <a [routerLink]="'/register'" class="underline">Register</a>
    </div>
  </form>
</div>
