<div class="roomWrapper">
	<div class="roomWrapper-info">
		<div class="roomWrapper-info-score">
			<h3>Scoreboard</h3>

			<div class="roomWrapper-info-scroll-container">
				<app-card *ngFor="let score of (roomInfo$ | async)?.score" [title]="score.userName">
					<div class="flex items-center">
						<div>{{ score.score }}</div>
					</div>
				</app-card>
			</div>
		</div>
		<div class="roomWrapper-info-title">
			<h2>{{ (roomInfo$ | async)?.name }}</h2>
		</div>
		<div class="roomWrapper-info-past-jokes">
			<h3>Past Jokes</h3>

			<div class="roomWrapper-info-scroll-container">
				<app-card *ngFor="let joke of (roomInfo$ | async)?.jokes" [title]="joke.content"></app-card>
			</div>
		</div>
	</div>
	<div class="roomWrapper-joke">
		Yo mama is so fat that when she walks on a scale , urna at lobortis
		ullamcorper, nisl erat commodo leo, vitae gravida purus magna nec justo.
		Phasellus vehicula luctus ipsum gravida facilisis.
	</div>

	<div class="roomWrapper-players">
		<app-player *ngFor="let user of (roomInfo$ | async)?.users" [user]="user"></app-player>
	</div>
</div>
