<div class="roomWrapper">
	<div class="roomWrapper-info">
		<div class="roomWrapper-info-score">
			<h3>Scoreboard</h3>

			<div class="roomWrapper-info-scroll-container">
				<app-card *ngFor="let score of (roomInfo$ | async)?.score" [title]="score.userName">
					<div class="flex items-center">
						<div>{{ score.score }}</div>
					</div>
				</app-card>
			</div>
		</div>
		<div class="roomWrapper-info-title">
			<h2>{{ (roomInfo$ | async)?.name }}</h2>
		</div>
		<div class="roomWrapper-info-past-jokes">
			<h3>Past Jokes</h3>

			<div class="roomWrapper-info-scroll-container">
				<app-card *ngFor="let joke of (roomInfo$ | async)?.jokes?.slice()?.reverse()" [title]="joke.content"></app-card>
			</div>
		</div>
	</div>
	<div class="roomWrapper-joke">
		<ng-container *ngIf="(canTellJoke$ | async); else jokeButton">
			<app-button variant="ghost" text="Tell joke" (click)="toggleJokeModal()"></app-button>
		</ng-container>
		<ng-container *ngIf="(canStartGame | async)">
			<app-button variant="ghost" text="Start game" (click)="startGame()"></app-button>
		</ng-container>
		<ng-template #jokeButton>
			{{(roomInfo$ | async)?.joke?.content || "???"}}
		</ng-template>
		<div class="mt-5" *ngIf="canFinishTurn$ | async"><app-button (click)="finishTurn()" text="Finish turn" variant="ghost"></app-button></div>
	</div>
	<button (click)="test()">test click</button>
	<div class="roomWrapper-players">
		<div class="roomWrapper-players-voting" *ngIf="canVote$ | async" (click)="vote($event)">
			<div class="roomWrapper-players-voting-circle">1</div>
			<div class="roomWrapper-players-voting-circle">2</div>
			<div class="roomWrapper-players-voting-circle">3</div>
			<div class="roomWrapper-players-voting-circle">4</div>
			<div class="roomWrapper-players-voting-circle">5</div>
		</div>
		<app-player *ngFor="let user of (roomInfo$ | async)?.users" [user]="user"></app-player>
	</div>
</div>

<app-joke-modal *ngIf="isTellJokeModalDisplayed" (onJokeToldModalCancelled)="toggleJokeModal()"
                (onJokeToldModalConfirmed)="onJokeToldModalConfirmed($event)">

</app-joke-modal>
